.mSlide {
  margin-bottom: 80px;
}
.mSlide .swiper-container {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.mSlide .swiper-button-next, .mSlide .swiper-button-prev {
  color: #adadad;
}
.mSlide .swiper-button-next::after, .mSlide .swiper-button-prev::after {
  font-size: 32px;
}
.mSlide .swiper-button-prev {
  left: 64px;
}
.mSlide .swiper-button-next {
  right: 64px;
}
.mSlide .progress {
  position: absolute;
  top: 208px;
  left: 34px;
}
.mSlide .swiper-progress-bar {
  position: relative;
  width: 130px;
  display: block;
  z-index: 1;
  height: 2px;
  background: #dddddd;
}
.mSlide .swiper-progress-bar .slide_progress-bar {
  position: absolute;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  width: auto;
  clear: both;
  opacity: 0;
}
.mSlide .swiper-progress-bar .slide_progress-bar:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 0;
  content: "";
  transition: 0.1s width linear;
}
.mSlide .swiper-progress-bar.active .slide_progress-bar {
  opacity: 1;
}
.mSlide .swiper-progress-bar.animate .slide_progress-bar:after {
  transition: width linear;
  transition-delay: unset;
  width: 130px;
  transition-duration: 5s;
}
.mSlide .swiper-slide {
  text-align: left;
}
.mSlide .swiper-slide .slide_content {
  position: relative;
  min-height: 765px;
}
.mSlide .swiper-slide .slide_content h1 {
  padding-top: 248px;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 28px;
}
.mSlide .swiper-slide .slide_content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 45px;
}
.mSlide .swiper-slide .slide_content a {
  border: 1px solid #000;
  width: 132px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
}
.mSlide .swiper-slide .slide_content img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.mSlide .swiper-slide .txt {
  opacity: 0;
  visibility: hidden;
}
.mSlide .swiper-slide.swiper-slide-active .txt {
  opacity: 1;
  visibility: visible;
  transition: 0.7s 1s;
}
.mSlide .swiper-pagination {
  font-size: 0;
  top: 200px;
  bottom: auto;
  width: auto;
}
.mSlide .swiper-pagination span {
  font-size: 15px;
  font-weight: 700;
  width: 20px;
}
.mSlide .swiper-pagination span::before {
  content: "0";
}
.mSlide .swiper-pagination span:nth-child(2) {
  padding-left: 164px;
}

.mProduct {
  background: #F3F3F3;
  padding: 100px 0;
}
.mProduct .main_title {
  text-align: center;
}
.mProduct .product {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mProduct .product .lTop {
  margin-bottom: 40px;
  background: #000;
  width: 680px;
  height: 320px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  border-radius: 15px;
  box-sizing: border-box;
}
.mProduct .product .lTop .txt {
  margin-left: 50px;
}
.mProduct .product .lBottom {
  display: flex;
  justify-content: space-between;
}
.mProduct .product .lBottom > div {
  width: 320px;
  height: 320px;
  border-radius: 15px;
  background: #fff;
  text-align: center;
  padding-top: 16px;
}
.mProduct .product .lBottom > div p {
  font-size: 18px;
  font-weight: 500;
}
.mProduct .product .lBottom > div p span {
  font-weight: 300;
}
.mProduct h3 {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}
.mProduct h3 span {
  font-weight: 300;
}
.mProduct h4 {
  font-weight: 500;
  font-size: 36px;
  color: #FFB6A7;
}
.mProduct h4 span {
  font-weight: 300;
  font-size: 24px;
  text-decoration: line-through;
  color: #BABABA;
  margin-right: 15px;
}
.mProduct .left .lTop img,
.mProduct .left .lb1 img,
.mProduct .left .lb2 img {
  transition: 0.5s;
  transform: scale(0.95);
}
.mProduct .left .lTop:hover img,
.mProduct .left .lb1:hover img,
.mProduct .left .lb2:hover img {
  transform: scale(1);
}
.mProduct .right {
  width: 680px;
  height: 680px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.mProduct .right::before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/m_pro4.png) 50% 50%/cover;
  position: absolute;
  transition: 0.5s;
}
.mProduct .right .txt {
  position: absolute;
  width: 100%;
  bottom: 30px;
}
.mProduct .right h3 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #000;
  text-align: center;
}
.mProduct .right h3 span {
  font-weight: 300;
}
.mProduct .right h4 {
  font-size: 36px;
  color: #3E5A64;
  font-weight: 700;
  position: relative;
  text-align: center;
}
.mProduct .right:hover::before {
  transform: scale(1.05);
}

.mPromo {
  padding: 120px 0;
}
.mPromo .layGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mPromo .imgBox {
  position: relative;
  width: 920px;
  height: 591px;
}
.mPromo .imgBox img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.mPromo .imgBox img.active {
  opacity: 1;
  visibility: visible;
}
.mPromo .main_title {
  margin-bottom: 10px;
}
.mPromo p {
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 60px;
  position: relative;
}
.mPromo p::before {
  content: "";
  width: 540px;
  height: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000;
}
.mPromo .promoButton li {
  padding: 30px 0;
  border-bottom: 1px solid #E9E9E9;
}
.mPromo .promoButton li a {
  font-size: 18px;
  font-weight: 300;
  color: #8D8D8D;
  transition: 0.5s;
}
.mPromo .promoButton li:nth-last-child(1) {
  border: none;
}
.mPromo .promoButton li.active a {
  color: #000;
}

.mNews {
  padding-bottom: 120px;
}
.mNews .main_title {
  text-align: center;
  margin-bottom: 10px;
}
.mNews .m_title_sub {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 40px;
}
.mNews .news {
  display: flex;
}
.mNews .news .nbox {
  width: 25%;
  margin-right: 35px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
}
.mNews .news .nbox:nth-last-child(1) {
  margin-right: 0;
}
.mNews .news .nbox .thumb {
  width: 100%;
  height: 210px;
}
.mNews .news .nbox .txt {
  padding: 15px 26px;
  box-sizing: border-box;
  height: 210px;
}
.mNews .news .nbox .txt .title {
  font-size: 18px;
  font-weight: 500;
}
.mNews .news .nbox .txt .date {
  display: block;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 300;
  color: #777777;
}
.mNews .news .nbox .txt .content {
  font-size: 14px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.mNews .news .nbox:nth-child(1) .thumb {
  background: url(../img/news1.png) 50% 50%/cover;
}
.mNews .news .nbox:nth-child(2) .thumb {
  background: url(../img/news2.png) 50% 50%/cover;
}
.mNews .news .nbox:nth-child(3) .thumb {
  background: url(../img/news3.png) 50% 50%/cover;
}
.mNews .news .nbox:nth-child(4) .thumb {
  background: url(../img/news4.png) 50% 50%/cover;
}