.sub_title {
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    left: calc((100vw - 1400px)/2);
    top: -98px;
    overflow: hidden;

    span {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: 0.7s;
        display: block;
    }
    &:nth-child(2){
        top: -36px;
    }
}

.subTop {
    position: relative;
    margin-bottom: 160px;
    &.active {
        .sub_title {
            span {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
        .sVisual{
            width: 100%;
        }
    }
}

.subAbout {
    height: calc(100vh + 560px);

    .sub_title {
        font-size: 48px;
        font-weight: 700;
        position: sticky;
        left: 0;
        top: 240px;
        z-index: 100;

        // &.active {
        //     position: absolute;
        //     top: calc(50vh + 360px);
        //     left: calc((100vw - 1400px)/2);
        // }
    }
}


.sVisual {
    width: 1400px;
    height: 420px;
    background: green;
    margin: 0 auto;
    margin-top: 250px;
    transition: 1s;
}
.sHistory{background: url(../img/sv2.png) 50% 50%;}
.sCi{background: url(../img/sv3.png) 50% 50%;}
.sSummer{background: url(../img/sv4.png) 50% 50%;}
.sWinter{background: url(../img/sv5.png) 50% 50%;}
.sKitchen{background: url(../img/sv6.png) 50% 50%;}
.vAbout {
    width: 1400px;
    min-width: 1400px;
    max-width: 100vw;
    height: 100vh;
    transition: 0.7s;
    position: absolute;
    top: 560px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/sv1.png) top center;

    .black {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
    }
}

.sec_title {
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ed1b23;
}

.secAbout {
    height: 250vh;
    padding-bottom: 120px;

    .about {
        height: calc(725px * 2);
        position: relative;
    }

    .left {
        width: 50%;
        position: sticky;
        left: 0;
        top: calc(140px);

        .aboutImg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.3s;

            &.active {
                opacity: 1;
            }
        }
    }

    .right {
        position: static;
        width: initial;
        right: 0;
        top: 0;
        padding-left: 50%;

        .aboutTxt {
            height: 725px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .title {
            font-size: 36px;
            font-weight: 900;
            margin-bottom: 60px;
        }

        .middle {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .small {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
}

.secCi {
    margin-bottom: 160px;

    .ci {
        padding-top: 40px;
        margin-bottom: 40px;
    }

    h4 {
        font-size: 24px;
        font-weight: 700;
    }

    p {
        margin-top: 10px;
    }

    .mean {
        padding: 120px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        &>div {
            width: 20%;
        }
    }

    .ciRule {
        margin-top: 20px;
        display: flex;

        img {
            margin-right: 40px;
        }
    }
}

.secHistory{
    .tab_box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        margin-bottom: 100px;
        .tab_btn{
            width: 20%;
            button{
                font-family: 'Pretendard';
                font-size: 18px;
                font-weight: 300px;
                padding: 20px;
                width: 100%;
                text-align: center;
            }
            &.active{
                background: #000;
                button{
                    color: #fff;
                }
            }
        }
    }
    .history{
        position: relative;
        display: none;
        &.active{
            display: block !important;
        }
        &::after {
            content : "";
            display : block;
            clear : both;
        }
    }
    .left{
        width: 45%;
        position: sticky;
        top: 30%;
        float: left;
        .title{
            font-size: 42px;
            font-weight: 900;
            margin-bottom: 20px;
        }
        h5{
            font-size: 70px;
            font-weight: 900;
            -webkit-text-stroke: 2px black;
            color: rgba(0,0,0,0);
        }
    }
    .right{
        width: 55%;
        float: right;
        ul{
            padding-left: 10vh;
            border-left: 1px solid #000;
            padding-bottom: 60px;
        }
        li{
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: 700;
            strong{
                font-size: 36px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: #ed1b23;
                    border-radius: 50%;
                    left: calc(-10vh - 5px);
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            span{
                width: 22px;
                padding-right: 30px;
            }
        }
    }
}
.secPro{
    margin-bottom: 140px;
    .proGrid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .product{
            border: 1px solid #efeff1;
            text-align: center;
            padding: 40px;
            .name{
                font-weight: 500;
                margin-top: 20px;
            }
            .id{
                color: #aeafb6;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
    .moreBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-family: 'Pretendard';
        font-size: 17px;
        width: 140px;
        height: 40px;
        border: 1px solid #939393;
        margin-top: 40px;
    }
    .category{
        display: flex;
        margin-bottom: 20px;
        li{
            margin-right: 21px;
            position: relative;
            button{
                font-size: 18px;
                font-family: 'Pretendard';
                font-weight: 300;
                padding-bottom: 5px;
                &.active{
                    font-weight: 700;
                    border-bottom: 2px solid #000;
                }
            }
            &::after{
                content: "";
                position: absolute;
                right: -10px;
                top: calc(50% - 5px);
                transform: translateY(-50%);
                width: 1px;
                height: 10px;
                background: #e2e2e2;
            }
            &:nth-last-child(1){
                &::after{
                    display: none;
                }
            }
        }
    }
}